# Dépendances Node.js
node_modules/

# Dossier de build de production Vue/Vite
dist/
dist-ssr/

# Fichiers de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers d'environnement locaux
.env.local
.env.*.local

# Fichiers systèmes et éditeurs
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
